{% extends "layout/base.html" %}

{% block content %}

<div class="profile-view-page">

<div class="profile-card">

    <img
        src="{{ user.profile_image if user.profile_image else url_for('static', filename='images/default.png') }}"
        class="profile-view-img"
    >

    <h1>
        {{ user.username }}
    </h1>

    <p>
        {{ user.college }}
    </p>

    <div class="profile-stats">

        <div class="profile-stat">

            <h2>{{ friend_count }}</h2>

            <span>Friends</span>

        </div>

        <div class="profile-stat">

            <h2>{{ wins }}</h2>

            <span>Wins</span>

        </div>

        <div class="profile-stat">

            <h2>{{ challenges }}</h2>

            <span>Challenges</span>

        </div>

    </div>

    <a
        href="/challenge/{{ user.id }}"
        class="challenge-profile-btn"
    >
        ⚔ Challenge User
    </a>

</div>

<div class="profile-activity">

    <h2>
        Recent Activities
    </h2>

    {% for activity in activities %}

    <div class="activity-item">

        {{ activity.activity }}

    </div>

    {% endfor %}

</div>


</div>

{% endblock %}
