{% extends "layout/base.html" %}

{% block content %}

<h1>
    Search Users 🔍
</h1>

<form method="POST" class="task-form">

    <input
        type="text"
        name="query"
        placeholder="Search username..."
    >

    <button type="submit">
        Search
    </button>

</form>

<div class="leaderboard">

    {% for user in users %}

    <div class="leader-card">

        <h2>
            {{ user.username }}
        </h2>

        <form method="POST" action="{{ url_for('send_request', user_id=user.id) }}">
            <button type="submit" class="friend-btn">Send Request</button>
        </form>

    </div>

    {% endfor %}

</div>

{% endblock %}
